html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(103, 174, 199, 0.1);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.main-img {
    flex: 1;
    background-image: url(../img/main-img.jpg);
    background-size: cover;
    background-position: center;
    min-width: 10rem;
}

.title {
    height: 8rem;
    background-color: rgba(00,00,00,30%);
    position: relative;
    top: 40%;
    line-height: 8rem;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.content-wrapper {
    min-width: 65%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-wrapper p, button {
    margin-left: 5rem;
}

.top-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.form {
    background-color: white;
}

.form p {
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    padding: 2rem 2rem 2rem 5rem;
}

input {
    box-sizing: border-box;
    width: 16rem;
    min-height: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(221, 210, 210);
    margin-bottom: .5rem;
}

input:focus {
    outline: 0;
    border: 2px solid lightskyblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.error {
    margin-left: 5rem;
    color: red;
    margin-top: -2.5rem;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

.form, .bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.bottom-section {
    justify-content: flex-start;
    margin-top: 3rem;
}

button {
    max-width: 12rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: lightskyblue;
    border: 1px solid grey;
    border-radius: 5px;
}

@media only screen and (max-width: 400px) {
    .main-img {
        max-height: 15rem;
    }

    body {
        display: block;
    }
}
